@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.fundraising {
    background-image: url('https://moramerch.s3.eu-north-1.amazonaws.com/slipfiles/order_1720003369772.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;
    padding-left: 15%;
    padding-right: 15%;
    position: relative; 
    color: white;
}

.fundraising::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000C2; 
    z-index: 1;
}

.fundraising > * {
    position: relative;
    z-index: 2;
}

.fundraising_content_h {
    padding-top: 50px;
    color:rgba(255, 255, 255, 0.692);
    text-align: center;
    font-family: 'La Belle Aurore';
    width: 100%;
    font-size: 40px;
    font-weight: 400;
}

.progressbar {
    margin: 0 auto;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    width: 70%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden; 
}

.progress {
    height: 100%;
    transition: width 0.5s;
    border-radius: 10px;
    background-color: #5200FF;
    position: relative; 
    overflow: hidden; 
    box-shadow: 0 0 10px #5200FF; 
    animation: glow-progress 1s infinite alternate; 
}

.cap {
    width: 20px; 
    height: 100%;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 0; 
    top: 0;
    background-color: #7231ff; 
    box-shadow: 0 0 10px #5200FF; 
    animation: glow-cap 1s infinite alternate; 
}

@keyframes glow-progress {
    from {
        box-shadow: 0 0 10px #5200FF;
    }
    to {
        box-shadow: 0 0 30px #5200FF, 0 0 30px #5200FF; 
    }
}

@keyframes glow-cap {
    from {
        box-shadow: 0 0 10px #5200FF;
    }
    to {
        box-shadow: 0 0 30px #5200FF, 0 0 30px #5200FF; 
    }
}
.progressbar-values {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.progressbar-values-left {
    color: #fefefe;
    border: 1px solid #ffffff38;
    border-radius: 10px;
    padding: 10px;
}

.progressbar-values-right {
    color: #fefefe;
    border: 1px solid #ffffff38;
    border-radius: 10px;
    padding: 10px;
}

.progressbar-values span {
    font-weight: 800;
}
.fundraising_content {
    background-color: #00000095;
    border: 1px solid #ffffff38;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    width: 100%;
}
.fundraising_content_p {
    margin-top: 40px;
    margin-bottom: 40px;
}
.fundraising_content_p h2{
    color:white;
    text-align: center;
    font-family: 'Jomhuria';
    font-weight: 400;
    font-size: 64px;
    margin-top: -15px;
}
.accandpara {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    gap:20px;
}
.accandpara button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 0px 20px;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Koulen';
    margin-bottom: 30px;
    
}

.left p {
    font-family: 'Koulen';
    font-size: 14px;
    color: white;
}
.leftbankdetails {
    margin-top: 20px;
    background-color: #D9D9D924;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    font-family: 'League Spartan', sans-serif; 
}

.right {
    padding: 10px;
    align-items: center;
    justify-content: center;
    padding-top:50px; 
}

.right p{
    font-family: 'Koulen';
    font-size: 14px;
    color: white;
}

.para1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    border: 1px solid #ffffff;
    padding: 20px;
    padding-top: 3%;
    border-radius: 10px;
    background-color: #ff3a3a;
    margin: 0 auto;
    margin-top: 50px;

}
.para1 p {
    padding-bottom: 10px;
}
.para2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
}
.para2 span{
    color: #F0BB00;
}

.greenpara {
    color: #00F035;
}
hr {
    width: 80%;
    margin: 0 auto;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}
.bottom-left button {
    background-color: #D9D9D980;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.bottom-left p {
    font-weight: 500;
    font-size: 14px;
    padding-left: 20px;
}
.bottom-right {
    margin-top: 20px;
}

.bottom-right p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 7px;
}


@media only screen and (max-width: 768px) {
    .fundraising {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: -120px;
    }

    .fundraising_content_h {
        font-size: 20px;
    }

    .progressbar {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .progressbar-values {
        margin-left: 5%;
        margin-right: 5%;
    }

    .leftbankdetails {
        width: 90%;
    }

    .accandpara {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    }

    .para1, .para2 {
        width: 90%;
        font-size: 20px;
    }

    .bottom-left, .bottom-right {
        text-align: center;
    }

    .bottom-left button {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .fundraising {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: -120px;
    }

    .fundraising_content_h {
        font-size: 14px;
    }

    .progressbar {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10%;
    }

    .progressbar-values {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 12px;
    }

    .leftbankdetails {
        width: 90%;
    }

    .accandpara {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    }

    .para1, .para2 {
        width: 90%;
        font-size: 18px;
    }

    .bottom-left, .bottom-right {
        text-align: center;
    }

    .bottom-left button {
        font-size: 14px;
    }
}