.preloader {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1005;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden !important;
    flex-direction: column;
}

/* @media (max-width: 480px) {
    .preloader {
        font-size: 17px;
        width: 240px;
    }
} */

.preloader .texts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 380px;
    font-size: 20px;
    overflow: hidden;
    font-weight: 400;
    opacity: 0;
    color: white;
}

.preloader img {
    height:70px;
    width: 70px;
}

/* Adjustments for mobile devices */
@media (max-width: 480px) {
    .preloader {
        font-size: 16px;
    }

    .preloader .texts-container {
        height: 50px;
        width: 300px;
        font-size: 16px;
    }

}

/* Adjustments for tablet devices */
@media (max-width: 768px) {
    .preloader {
        font-size: 18px;
    }

    .preloader .texts-container {
        height: 55px;
        width: 350px;
        font-size: 18px;
    }
}