
.home-ad-below {
    height: 26vw;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    
}

/* Tablet view */
@media (max-width: 768px) {
    .home-ad-below {
        height: 30vw; 
        padding-left: 5%; 
        padding-right: 5%;
        margin-top: 80px; 
        margin-bottom: 80px;
    }
}

/* Mobile view */
@media (max-width: 480px) {
    .home-ad-below {
        height: 30vw; 
        padding-left: 5%; 
        padding-right: 5%;
        margin-top: 0px; 
        margin-bottom: 120px;
    }
}